<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#80000FF">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <section class='header'>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </section>

    <section class='navbar'>
      <ul>
        <a href='/'><li>Home</li></a>
        <a href='/about'><li>About</li></a>
        <a href='/experience'><li>Experience</li></a>
        <a href='/resources'><li>Resources</li></a>
        <a href='/contact'><li>Contact</li></a>
      </ul>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
